In [255]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [256]:
data=pd.read_csv(r"C:\Users\vishal\Downloads\Sale Data1.csv",encoding='cp1252')
data.head()

   Year  Brand     Product Type Quantity Sales Amount Usd
0  2020  MOLEX      TSTL 432/04   80,000           449.19
1  2020  MOLEX              NaN   48,000           303.26
2  2020  MOLEX  1 39-00-0038-LF    8,000            46.05
3  2020  MOLEX  1 39-00-0038-LF   48,000           276.31
4  2020  MOLEX              NaN   24,000           151.63

In [257]:
data.shape

(21147, 5)

In [258]:
data.tail()

       Year   Brand Product Type Quantity Sales Amount Usd
21142  2018   MAXIC          NaN        0                0
21143  2018   MAXIC          NaN        0                0
21144  2018   MAXIC          NaN        0                0
21145  2018  VISHAY          NaN        0                0
21146  2018  VISHAY          NaN        0                0

In [259]:
data.isnull().sum()

Year                   0
Brand                  3
Product Type        2806
Quantity               0
Sales Amount Usd      33
dtype: int64

In [260]:
# removing the empty rows


data.dropna(inplace=True)

In [261]:
data.isnull().sum()

Year                0
Brand               0
Product Type        0
Quantity            0
Sales Amount Usd    0
dtype: int64

In [262]:
data.shape

(18341, 5)

In [263]:
data.corr()

      Year
Year   1.0

In [264]:
data.describe()

               Year
count  18341.000000
mean    2018.062810
std        2.079967
min     2015.000000
25%     2016.000000
50%     2018.000000
75%     2019.000000
max     2022.000000

In [265]:
data1=pd.get_dummies(data[['Brand','Product Type']])
data1.head()

,Brand_ACSIP,Brand_ADI,Brand_ATMEL,Brand_CREE,Brand_DIODES,Brand_ERP,Brand_EVERLIGHT,Brand_FAIRCHILD,Brand_FINGERPRINTS,Brand_FREESCALE,...,Product Type_XPGDWT-B1-0000-00KE7,Product Type_XPGDWT-B1-0000-00LE2,Product Type_XPGDWT-B1-0000-00LE3,Product Type_XPGDWT-B1-0000-00LE5,Product Type_XPGDWT-BS-0000-00M2E,Product Type_XPLBWT-00-0000-000BV60E3,Product Type_XQERED-H0-0000-000000301,Product Type_XTEAWT-E0-0000-00000BLE2,Product Type_XXX,Product Type_ZJK004
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [266]:
data1.shape

(18341, 605)

In [267]:
data.replace(to_replace ='2,598.51', value =2598.51)

       Year   Brand     Product Type Quantity Sales Amount Usd
0      2020   MOLEX      TSTL 432/04   80,000           449.19
2      2020   MOLEX  1 39-00-0038-LF    8,000            46.05
3      2020   MOLEX  1 39-00-0038-LF   48,000           276.31
5      2020   MOLEX         4E311217   13,000           115.39
6      2020   MOLEX         4E311217   11,000            97.64
...     ...     ...              ...      ...              ...
21130  2016  VISHAY            PEMCO    40000          1257.97
21131  2016  VISHAY            PEMCO     2000            62.83
21132  2016  VISHAY            PEMCO    42000          1329.57
21133  2016  VISHAY            PEMCO    10000           316.56
21134  2016  VISHAY            PEMCO    64000          1975.06

[18341 rows x 5 columns]

In [268]:
data["Sales Amount Usd"] = [float(str(i).replace(",", "")) for i in data["Sales Amount Usd"]]

In [269]:
data["Quantity"] = [float(str(i).replace(",", "")) for i in data["Quantity"]]

In [270]:
data2=data.join(data1)
data2.head()

,Year,Brand,Product Type,Quantity,Sales Amount Usd,Brand_ACSIP,Brand_ADI,Brand_ATMEL,Brand_CREE,Brand_DIODES,...,Product Type_XPGDWT-B1-0000-00KE7,Product Type_XPGDWT-B1-0000-00LE2,Product Type_XPGDWT-B1-0000-00LE3,Product Type_XPGDWT-B1-0000-00LE5,Product Type_XPGDWT-BS-0000-00M2E,Product Type_XPLBWT-00-0000-000BV60E3,Product Type_XQERED-H0-0000-000000301,Product Type_XTEAWT-E0-0000-00000BLE2,Product Type_XXX,Product Type_ZJK004
0,2020,MOLEX,TSTL 432/04,80000.0,449.19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020,MOLEX,1 39-00-0038-LF,8000.0,46.05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020,MOLEX,1 39-00-0038-LF,48000.0,276.31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020,MOLEX,4E311217,13000.0,115.39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2020,MOLEX,4E311217,11000.0,97.64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [271]:
data2.shape

(18341, 610)

In [272]:
x=data2.drop(['Quantity','Brand','Product Type'],axis=1)

In [273]:
x.shape

(18341, 607)

In [274]:
x.head()

,Year,Sales Amount Usd,Brand_ACSIP,Brand_ADI,Brand_ATMEL,Brand_CREE,Brand_DIODES,Brand_ERP,Brand_EVERLIGHT,Brand_FAIRCHILD,...,Product Type_XPGDWT-B1-0000-00KE7,Product Type_XPGDWT-B1-0000-00LE2,Product Type_XPGDWT-B1-0000-00LE3,Product Type_XPGDWT-B1-0000-00LE5,Product Type_XPGDWT-BS-0000-00M2E,Product Type_XPLBWT-00-0000-000BV60E3,Product Type_XQERED-H0-0000-000000301,Product Type_XTEAWT-E0-0000-00000BLE2,Product Type_XXX,Product Type_ZJK004
0,2020,449.19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020,46.05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020,276.31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020,115.39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2020,97.64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [275]:
y=data2['Quantity']

In [276]:
y.shape

(18341,)

In [277]:
y.head()

0    80000.0
2     8000.0
3    48000.0
5    13000.0
6    11000.0
Name: Quantity, dtype: float64

In [278]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
np.random.seed(42)

In [279]:
from sklearn.linear_model import LinearRegression
np.random.seed(42)


model=LinearRegression()
np.random.seed(42)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.31945288736118993

In [284]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

model1=RandomForestRegressor()
np.random.seed(42)
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

0.7418691485178035

# prediction

In [285]:
y_test.head()

7133     174000.0
2671     552000.0
13372      2500.0
11090     50000.0
13085       270.0
Name: Quantity, dtype: float64

In [286]:
model1.predict(x_test)

array([416537.86, 496080.  ,  12992.05, ...,   2336.8 ,  33675.  ,
         8590.  ])

In [287]:
y_pred=model1.predict(x_test)

In [288]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7418691485178035

In [289]:
x_test.head()

,Year,Sales Amount Usd,Brand_ACSIP,Brand_ADI,Brand_ATMEL,Brand_CREE,Brand_DIODES,Brand_ERP,Brand_EVERLIGHT,Brand_FAIRCHILD,...,Product Type_XPGDWT-B1-0000-00KE7,Product Type_XPGDWT-B1-0000-00LE2,Product Type_XPGDWT-B1-0000-00LE3,Product Type_XPGDWT-B1-0000-00LE5,Product Type_XPGDWT-BS-0000-00M2E,Product Type_XPLBWT-00-0000-000BV60E3,Product Type_XQERED-H0-0000-000000301,Product Type_XTEAWT-E0-0000-00000BLE2,Product Type_XXX,Product Type_ZJK004
7133,2019,20274.88,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2671,2021,2473.82,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13372,2016,2086.90,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11090,2018,1000.57,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13085,2019,359.09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [290]:
y_test.head()

7133     174000.0
2671     552000.0
13372      2500.0
11090     50000.0
13085       270.0
Name: Quantity, dtype: float64

In [ ]:
from sklearn.linear_model import LogisticRegression

np.random.seed(42)

model2=LogisticRegression()
np.random.seed(42)
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_pred)